.top-container {
  gap: 1%;
}

.box {
  flex: 3 3;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 41.6%; /* 16:9 Aspect Ratio (divide 9 by 16 = 0.5625) */
  min-height: 14rem;
}

/* Then style the iframe to fit in the container div with full height and width */
.responsive-iframe {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
}

.note {
  flex: 1 1;
  position: relative;
  overflow: hidden;
  width: 100%;
  padding-top: 9%;
  padding-bottom: 9%;
}

@media (max-width: 768px) {
  .responsive-topcard {
    flex-direction: column-reverse;
  }
}
